python-dotenv
TTS
jupyterlab 
notebook 
ipykernel
boto3 
datasets 
soundfile 
speechbrain 
accelerate 
tensorboard==2.16
aiohttp==3.9.5
anyascii 
bangla 
bnnumerizer 
bnunicodenormalizer 
coqpit 
cython
einops 
encodec 
flask==2.2.5 
fsspec==2023.6.0 
g2pkk 
gruut 
hangul-romanize 
inflect==7.0.0 
jamo 
jieba==0.42.1 
librosa==0.10.2.post1 
matplotlib==3.7.1 
nltk==3.8.1 
num2words 
numba==0.58.1 
numpy==1.25.2 
packaging==24.0 
pandas
pypinyin 
pysbd 
pyyaml==6.0.1 
scikit-learn==1.3.0 
scipy==1.11.4 
soundfile==0.12.1 
spacy==3.7.4 
torch
torchaudio
tqdm==4.66.4 
trainer==0.0.36 
transformers==4.41.0 
umap-learn 
unidecode
fsspec==2023.6.0 
psutil==5.9.5 

